main{
    background-color: antiquewhite;
    width: 900px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.438);
}

html{
    background-image:url(./Imagens/Dülmen\,_Kirchspiel\,_Börnste\,_Neusträßer_Graben_--_2022_--_9891.jpg);
    background-size: 145%;

}

h1{
    text-align: center;
    font-size: 60px;
    color: red;
}

.title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 20px;
}

.title ul li{
    font-size: 40px;
    padding-bottom: 20px;
    padding-left: 16px;
}

#ima{
    width: 400px;
}



form {
    padding: 50px;
    text-align: center;
    background-color: wheat;
    margin: 0%

}

form input{
    text-align: center;
    padding: 16px;
    margin-bottom: 8px;
    width: 700px;
    border-radius: 10px;
}

#btn-enviar{
    color: white;
    background-color: red;
    font-size: 50px;
    width: 800px;
    padding: 32px;
    cursor: pointer;
}

#btn-enviar:hover{
    background-color: blue;
}

#btn-enviar:focus{
    outline-color: red;
    background-color: red;
    color: wheat;
}

#res{
    background-color: wheat;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}


